button {
  color: #fff;
  border: none;
  padding: 5px 9px;
  border-radius: 50%;
  cursor: pointer;
  float: right;
}

.Todo {
  padding: 10px;
  border-bottom: 1px #ccc dotted;
  text-decoration: none;
}
